- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app_setup.yaml

# changed this as part of latest nodejs from repos have upgraded openssl-libs but other openssl packages are old in AMI, so mismatch occured. we are upgrading before installing python or after
- name: upgrade openssl packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  loop:
  - openssl
  - openssl-libs
  - openssh
  - openssh-server
  - openssh-clients

- name: nodejs setup
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs_setup.yaml

- name: systemd setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd_setup.yaml